html body {
	padding     : 20px;
	background  : url(/resources/images/bgnoise.png) 0 0 repeat;
    font-family : tahoma,verdana,sans-serif;
}

p {
	margin-bottom : 15px;
    font-size   : 15px !important;
}

blockquote {
    padding-left : 30px;
}

h1 {
    font-size     : 40px;
	font-weight   : normal;
	font-family   : 'TTbold';
	-webkit-transform : rotate(-0.0000000001deg);
	color         : #00568d;
	margin-bottom : 20px;
}

h2 {
	font-size     : 20px;
    color         : #333;
	font-family   : 'TTbold';
    margin-bottom : 20px;
    margin-top    : 35px;
}

h3 {
    font-size : 12px;
    margin    : 12px 0px;
}

li ol li {
    margin-left : 24px; 
}

/*
a:link, h1 a:visited {
    color : #046BCA;
}
        
a:hover, a:focus, a:active {
    color : #1C417C;
}
*/

.example-info {
	width       : 150px;
	border      : 1px solid #c3daf9;
	border-top  : 1px solid #DCEAFB;
	border-left : 1px solid #DCEAFB;
	background  : #ecf5fe url( info-bg.gif ) repeat-x;
	font-size   : 11px;
	padding     : 8px;
}

pre.code {
	background  : #F8F8F8;
	border      : 1px solid #e8e8e8;
    color       : #3f747f;
	padding     : 10px;
	margin      : 10px;
	margin-left : 0px;
	border-left : 5px solid #e8e8e8;
	font-size   : 15px !important;
	line-height : 14px !important;
}

.msg .x-box-mc {
    font-size : 14px;
}

#msg-div {
    position : absolute;
    left     : 35%;
    top      : 10px;
    width    : 250px;
    z-index  : 20000;
}

.x-grid3-row-body p { margin : 5px 5px 10px 5px !important; }

.sandbox-wrapper { padding : 12px; }

.sandbox-toolbar {
	text-align       : right;
	display          : block;
	border           : none;
	padding          : 4px;
	background-color : #DFE8F6;
	border-bottom    : 1px solid #8DB2E3;
}

.sandbox-toolbar table { display : inline; }


/*  Icons
    -----------------------------------------------------------------------------------------------*/

div.information {
   border       : 1px solid #99BBE8;
   padding      : 8px 12px 0px 12px;
   padding-left : 36px;
   background   : #DFE8F6 url(../../icons/information-png/ext.axd) no-repeat 10px 10px; 
   margin       : 12px 0px;
}

p {
    padding        : 0px;
    margin         : 0px;
    line-height    : 20px;
    padding-bottom : 12px;
}

ol.expanded li { line-height : 25px; }

ol.expanded {
    list-style-type : decimal;
    padding-left    : 40px;
}

/*  Docs
    -----------------------------------------------------------------------------------------------*/

.doc-member, .doc-prop {
    font-weight : bold;
}

.doc-item {
    border  : 1px solid #D0D0D0;
    padding : 10px;
}

.doc-item strong {
    font-weight : bold;
}

.doc-desc, .doc-params {
    padding : 8px;
}

.doc-params strong {
    color     : #555;
    font-size : 12px;
}

.doc-params ul {
    margin          : 4px;
    list-style-type : disc;
    padding-left    : 25px;
    color           : #555;
}

.doc-params ul li {
    margin-bottom : 5px;
}

.doc-optional {
    font-family : monospace; 
}


/*  Fonts
    -----------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'TTthin';
    src: url('/resources/fonts/TitilliumText22L001-webfont.eot');
    src: url('/resources/fonts/TitilliumText22L001-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/TitilliumText22L001-webfont.woff') format('woff'),
         url('/resources/fonts/TitilliumText22L001-webfont.ttf') format('truetype'),
         url('/resources/fonts/TitilliumText22L001-webfont.svg#TTthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTlight';
    src: url('/resources/fonts/TitilliumText22L002-webfont.eot');
    src: url('/resources/fonts/TitilliumText22L002-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/TitilliumText22L002-webfont.woff') format('woff'),
         url('/resources/fonts/TitilliumText22L002-webfont.ttf') format('truetype'),
         url('/resources/fonts/TitilliumText22L002-webfont.svg#TTlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTreg';
    src: url('/resources/fonts/TitilliumText22L003-webfont.eot');
    src: url('/resources/fonts/TitilliumText22L003-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/TitilliumText22L003-webfont.woff') format('woff'),
         url('/resources/fonts/TitilliumText22L003-webfont.ttf') format('truetype'),
         url('/resources/fonts/TitilliumText22L003-webfont.svg#TTreg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTmed';
    src: url('/resources/fonts/TitilliumText22L004-webfont.eot');
    src: url('/resources/fonts/TitilliumText22L004-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/TitilliumText22L004-webfont.woff') format('woff'),
         url('/resources/fonts/TitilliumText22L004-webfont.ttf') format('truetype'),
         url('/resources/fonts/TitilliumText22L004-webfont.svg#TTmed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTbold';
    src: url('/resources/fonts/TitilliumText22L005-webfont.eot');
    src: url('/resources/fonts/TitilliumText22L005-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/TitilliumText22L005-webfont.woff') format('woff'),
         url('/resources/fonts/TitilliumText22L005-webfont.ttf') format('truetype'),
         url('/resources/fonts/TitilliumText22L005-webfont.svg#TTbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTxbold';
    src: url('/resources/fonts/TitilliumText22L006-webfont.eot');
    src: url('/resources/fonts/TitilliumText22L006-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/TitilliumText22L006-webfont.woff') format('woff'),
         url('/resources/fonts/TitilliumText22L006-webfont.ttf') format('truetype'),
         url('/resources/fonts/TitilliumText22L006-webfont.svg#TTxbold') format('svg');
    font-weight: normal;
    font-style: normal;
}