<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
  </configSections>
  <extnet theme="Gray" renderScripts="CDN" renderStyles="CDN" initScriptMode="Linked" />
  <appSettings>
    <add key="ShowHiddenExamples" value="False" />
  </appSettings>
  <!--
        Possible Exception thrown if using local SQLEXPRESS connection strings on a production install of IIS. 
        
        Exception Message:
        
        Failed to generate a user instance of SQL Server due to failure in retrieving the user's local application data path. 
        Please make sure the user has a local user profile on the computer. The connection will be closed.
        
        More Info:
        http://support.microsoft.com/kb/2002980  
        
        Solution:
        
        Add databases to SQL Server and update connection strings.
    -->
  <connectionStrings>
    <add name="NorthwindConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Northwind.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="SimpleTasksConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SimpleTasks.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!-- DO NOT change this trust level. Application MUST run in "Medium" trust. -->
    <!-- Full trust is required for the FeedViewer example because of outbound HTTP requests to fetch RSS feeds -->
    <trust level="Full" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/404.aspx" />
    </customErrors>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="src" src="~/HighLighter/HighLighterButton.ascx" tagName="SourceButton" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
      <add name="AnalyticsModule" type="Ext.Net.Examples.AnalyticsModule, Ext.Net.Examples" />
    </httpModules>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
      <add name="AnalyticsModule" preCondition="managedHandler" type="Ext.Net.Examples.AnalyticsModule, Ext.Net.Examples" />
    </modules>
    <handlers>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>